{% extends 'base.html.twig' %}

{% block title %}Component index{% endblock %}

{% block body %}
    <h1>Component index</h1>
    <div class="row">
        <input class="form-control col-lg-10" id="name" name="name" type="text"> <br>
        <input class="btn btn-primary col-lg-2" onclick="send()" type="submit" value="Find by name">
    </div>
    
    <script>
        function send() {
            let name = document.getElementById("name").value;
            let url = 'http://localhost:8000/component';
            if(name !== undefined && name !== ''){
                url = `http://localhost:8000/component/find/${name}`;
            }
                window.location = url;
            
        }
    </script>
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Product</th>
                    <th>Buttons</th>
                </tr>
            </thead>
            <tbody>
            {% for component in components %}
                <tr>
                    <td>{{ component.id }}</td>
                    <td>{{ component.name }}</td>
                    <td>{{ component.price }}</td>
                    <td>{{ component.description }}</td>
                    <td>{{ component.product }}</td>
                    <td>
                        <a href="{{ path('component_show', {'id': component.id}) }}" class="btn btn-secondary">show</a>
                        <a href="{{ path('component_edit', {'id': component.id}) }}" class="btn btn-warning">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
   

    <a href="{{ path('component_new') }}" class="btn btn-success">Create new</a>
{% endblock %}